@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset body margins and padding */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes lightSweep {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
